<div id="<%= dom_id artist_song %>">
  <p>
    <strong>Artist:</strong>
    <%= artist_song.artist_id %>
  </p>

  <p>
    <strong>Song:</strong>
    <%= artist_song.song_id %>
  </p>

  <p>
    <strong>Letra:</strong>
    <%= artist_song.letra %>
  </p>

</div>
