<% content_for :title, "Editing artist" %>

<h1>Editing artist</h1>

<%= render "form", artist: @artist %>

<br>

<div>
  <%= link_to "Back to artists", artists_path,
  role: "button" %>
  <%= link_to "Show this artist", @artist,
  role: "button" %>
</div>
