<h1>Meus Artistas</h1>

<br>

<% if current_user %>
    <strong>User ID:</strong> <%= current_user.id %>  
<% end %>

<br>

<% @artists.each do |artist| %>
  <div>
    <h2><%= artist.name %></h2>
    <%= link_to "Ver artista", artist_path(artist) %>
  </div>
  <hr>
<% end %>

<!-- %= link_to "New artist", new_artist_path % -->

<br>

<%= link_to "Voltar para o Admin", admin_root_path %>