<!-- app/views/welcome/index.html.erb -->

<table>
  <tr>
    <td>
      <h1>MySetList</h1>
      <h3>Gerenciador de músicas e Fila de Artistas</h3>
      <h9>by: Stage Invaders</h9>
      <% if @artist %>
          <strong>Artista:</strong> <%= @artist.name %> |        
          <strong>Artist ID:</strong> <%= @artist.id %> 
      <% end %>
      
    </td>
    <td>
      <% if @artist.logo.attached? %>
        <%= image_tag @artist.logo, width: 100 %>
      <% end %>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <h8>Instruções: </h8> 
      <h8>Selecione um Evento; de lá escolha a Música; preencha seu nome artístico, e selecione adicionar a fila</h8>
      <br>
      <br>
      <h4>Eventos:</h4>
      <ul>
      
        <% @events.each do |event| %>
          <li>
            <%= link_to "#{event.event_date} - #{event.description}", showpublico_event_path(event) %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
    
