<!-- app/views/events/new.html.erb -->
<% content_for :title, "New event" %>

<div style="zoom: 75%;">

  <h1>New event</h1>

  <%= render "form", event: @event %>

  <br>

  <div>
    <%= link_to "Back to events", events_path, 
        role: "button" %>
  </div>

</div>