<!DOCTYPE html>
<html>

<script>
    document.addEventListener("keydown", function (event) {
    const container = document.querySelector(".lyrics-container");
    let currentSize = parseFloat(window.getComputedStyle(container).fontSize);

    if (event.key === "+" || event.key === "=") {
        container.style.fontSize = (currentSize + 2) + "px";
    } else if (event.key === "-") {
        container.style.fontSize = (currentSize - 2) + "px";
    }
    });
</script>

<!-- app/views/songs/lyrics.html.erb -->
  <head>
    <title>Lyrics</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
        /* background-color: #f9f9f9; */
      }
      .lyrics-container {
        width: 90%;
        height: 90%;
        overflow: auto;
        text-align: left; /* Align text to the left */
        font-size: 0.8rem;
        line-height: 1.0;
        resize: both;
        font-family: "Courier New", Courier, monospace; /* Fixed-length font */
       /*  color: black;  Black text color */
        margin-top: 2rem; /* Added to give some top spacing */

      }
    </style>
  </head>
  <body>
    <div class="lyrics-container">
      <%= simple_format(@song.lyrics) %>
    </div>
  </body>
</html>