<div id="<%= dom_id artist_set %>">
  <p>
    <strong>Artist:</strong>
    <%= artist_set.artist_id %>
  </p>

  <p>
    <strong>Set list name:</strong>
    <%= artist_set.set_list_name %>
  </p>

</div>
