<div id="<%= dom_id artist_set_song %>">
  <p>
    <strong>Artist set:</strong>
    <%= artist_set_song.artist_set_id %>
  </p>

  <p>
    <strong>Song:</strong>
    <%= artist_set_song.song_id %>
  </p>

</div>
