<% content_for :title, "New artist set song" %>

<h1>New artist set song</h1>

<%= render "form", artist_set_song: @artist_set_song %>

<br>

<div>
  <%= link_to "Back to artist set songs", artist_set_songs_path %>
</div>
