<!-- app/views/event_song_queues/index.html.erb -->
<h2><%= @event.description %></h2>

<table>
  <thead>
    <tr>
      <th>Música</th>
      <th>Artista</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @queues.each do |queue| %>
      <tr>
        <td><%= queue.song.name %></td>
        <td><%= queue.performer.name %></td>
        <td>
          <%= link_to "Ver Letra Musica", lyrics_song_path(queue.song), class: "button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

